
.home{
    width: 100%;
}
.header-section-1{
    background-color: #fef0e7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    flex-wrap: wrap;
}

/* .section-1-row{

    width: 100%;
    height: 218px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
} */

.section-1-blocks{
    width: 25%;
    border-right: 1px dotted salmon;
    height: 218px;
    padding: 15px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
}
.section-1-blocks h6{
    font-family: Baloo Chettan, sans-serif;
}

@media screen and (max-width:767px) {
    .section-1-blocks{
        width: 100%;
        border-right: none;
        border-bottom: 1px dotted salmon;
    } 
}

